# List required packages in this file, one per line.
intake
intake-bluesky
pycurl
suitcase-core
suitcase-csv
suitcase-json-metadata
suitcase-jsonl
suitcase-msgpack
suitcase-specfile
suitcase-tiff
tornado
